
<div class="well-lg">
      <div class="tagline">
        <%=image_tag(image_path("aboutus_hero.JPG"), style: "max-width:800px; margin-top:-7px; display: block; margin-left: auto; margin-right: auto" )%>
        </div>
    </div>

<h2>actNOW's lead investigator: Anas Aremyaw Anas</h2>
<p>Anas is a Ghanaian undercover investigative journalist, and his anonymity is an important tool in investigations. Anas' undercover investigations focus primarily on issues of human rights abuse (especially women and children) and corruption. An undercover investigative journalist in Ghana since 1999, Anas Aremeyaw Anas has been awarded Ghana’s ‘best journalist of the year’ as well as ‘investigative journalist of the year’ twice in succession. His trafficking stories, which broke major traffic rings, won him the US State Department Hero Award on Trafficking in 2008.</p>

<p>Anas has been recognized alongside Jimmy Carter, and Desmond Tutu, with the Every Human Has Rights Award. The Indian Prime Minister has awarded Anas with three gold medals and in 2011 he was recognized for the second time by the European Union. Anas produced 5 films in the 2011 groundbreaking Africa Investigates series on Al Jazeera. He is a graduate of the Ghana Institute of Journalism and a faculty at the University of Ghana School of Law, from where he holds an LLB Hons. Anas is a leading member of the Forum of African Investigative Reporters (FAIR), Investigative Reporters and Editors (IRE) as well as other notable journalism professional bodies across the world.</p>
